alembic==1.2.1
decorator==4.4.1
Flask-Migrate==2.5.3 
Flask==1.1.1
Flask-HTTPAuth==3.3.0 
flask-marshmallow==0.10.1
flask-redis==0.4.0
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.1
apispec==3.3.0
gunicorn==20.0.2
flask-heroku == 0.1.9
flasgger == 0.9.4  
marshmallow==3.4.0
marshmallow-sqlalchemy==0.21.0
psycopg2==2.8.4
psycopg2-binary==2.8.4
py==1.8.0
passlib==1.7.2
requests==2.18.4
requests-unixsocket==0.1.5
simplejson==3.13.2
SQLAlchemy==1.3.10
SQLAlchemy-Utils==0.34.2
urllib3==1.22
Werkzeug==0.16.
setuptools==46.1.3  